<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="../static/websitestyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luke's Website - Home</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <ul>
                <li><a href="./Nike.html" class="active"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="./aboutme.html"><i class="fas fa-child"></i> About Me</a></li>
                <li><a href="./male.html"><i class="fas fa-male"></i> Men</a></li>
                <li><a href="./women.html"><i class="fas fa-female"></i> Women</a></li>
                <li><a href="./clothes.html"><i class='fas fa-tshirt'></i> Clothes</a></li>
            </ul>
        </header>
        <leftbar>
            <p>leftbar</p>
        </leftbar>
        <article></article>
        <rightbar>
            <p>rightbar</p>
        </rightbar>
        <footer></footer>
    </div>
</body>
</html>