<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
    <link rel="stylesheet" href="../static/websitestyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors - Luke's Awesome Website</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <ul>
                <li><a href="./index.html" class="active"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="./myprojects.html"><i class="fas fa-child"></i> My Projects</a></li>
                <li><a href="./male.html"><i class="fas fa-male"></i> Men</a></li>
                <li><a href="./women.html"><i class="fas fa-female"></i> Women</a></li>
                <li><a href="./clothes.html"><i class='fas fa-tshirt'></i> Clothes</a></li>
            </ul>
        </header>
        <leftbar>
        </leftbar>
        <rpsproject>
            <iframe src="https://trinket.io/embed/python/48b48e2fa2?outputOnly=true&runOption=run" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
        </rpsproject>
        <rightbar>
        </rightbar>
        <footer></footer>
    </div>

</body>
</html>